$main: black;
.blue {
  color: $main;
}

@mixin test() {
  background-color: #eee;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
}

.stock-alert {
  @include test();
  margin-top: 12px;
  p {
    margin: 0 auto;
  }
}

.stock-alert-aquamarine {
  @extend .stock-alert;
  background-color: aquamarine;
}

// 애니메이션 시작 때 적용할 css
.wow-enter {
  opacity: 0;
}
// 애니메이션 동작할 때 적용할 css
.wow-enter-active {
  opacity: 1;
  transition: all 500ms;
}
